[Unit]
Description=NEM/Symbol Price Checker - Current Price Collection Timer
Requires=nem-symbol-current.service

[Timer]
# 5分おきに実行
OnCalendar=*-*-* *:00/5:00
Persistent=true

[Install]
WantedBy=timers.target
