[Unit]
Description=NEM/Symbol Price Checker - Daily Collection Timer
Requires=nem-symbol-daily.service

[Timer]
# 0:00に実行
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
